
---
layout: ""
page_title: "Provider: SDWAN"
description: |-
  The SDWAN provider provides resources to interact with a Cisco SD-WAN environment.
---

# SDWAN Provider

The SDWAN provider provides resources to interact with a Cisco SD-WAN environment. It communicates with vManage via the REST API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
