---
name: CLI Config Feature
rest_endpoint: /v1/feature-profile/sdwan/cli/%v/config/
minimum_version: 20.15.0
has_version: true
id_attribute: parcelId
test_tags: [SDWAN_2015]
doc_category: Features - CLI
attributes:
  - tf_name: feature_profile_id
    reference: true
    type: String
    mandatory: true
    description: Feature Profile ID
    example: f6dd22c8-0b4f-496c-9a0b-6813d1f8b8ac
    test_value: sdwan_cli_feature_profile.test.id
  - model_name: name
    response_data_path: [payload]
    type: String
    mandatory: true
    description: The name of the Feature
    string_min_length: 1
    string_max_length: 128
    example: Example
  - model_name: description
    response_data_path: [payload]
    type: String
    mandatory: true
    description: The description of the Feature
    example: My Example
  - model_name: config
    tf_name: cli_configuration
    data_path: [data]
    response_data_path: [payload, data]
    type: String
    mandatory: true
    description: CLI configuration
    example: 'bfd default-dscp 48\nbfd app-route multiplier 6\nbfd app-route poll-interval 600000'

test_prerequisites: |
  resource "sdwan_cli_feature_profile" "test" {
    name        = "TF_TEST"
    description = "Terraform test"
  }