---
name: Configuration Group
rest_endpoint: /v1/config-group/
id_attribute: id
minimum_version: 20.15.0
test_tags: [SDWAN_2015]
doc_category: Configuration Groups
attributes:
  - model_name: name
    type: String
    mandatory: true
    description: The name of the configuration group
    example: CG_1
  - model_name: description
    type: String
    mandatory: true
    description: Description
    example: My config group 1
  - model_name: solution
    type: String
    mandatory: true
    enum_values: [mobility, sdwan, nfvirtual]
    description: Type of solution
    example: sdwan
  - model_name: profiles
    tf_name: feature_profile_ids
    type: Set
    element_type: String
    description: List of feature profile IDs
    example: f6dd22c8-0b4f-496c-9a0b-6813d1f8b8ac
    test_value: "[sdwan_system_feature_profile.test.id]"
  - model_name: devices
    data_path: [topology]
    tf_name: topology_devices
    type: List
    description: List of topology device types
    exclude_test: true
    conditional_list_length: topology_devices
    attributes:
      - model_name: attribute
        data_path: [criteria]
        tf_name: criteria_attribute
        type: String
        mandatory: true
        enum_values: [tag]
        description: Criteria attribute
        example: tag
      - model_name: value
        data_path: [criteria]
        tf_name: criteria_value
        type: String
        id: true
        description: Criteria value
        example: EdgeDevice_01
      - model_name: unsupportedFeatures
        type: List
        description: List of unsupported features
        attributes:
          - model_name: parcelType
            type: String
            id: true
            enum_values:
              [
                wan/vpn/interface/gre,
                wan/vpn/interface/ethernet,
                wan/vpn/interface/cellular,
                wan/vpn/interface/ipsec,
                wan/vpn/interface/serial,
                route-policy,
                routing/bgp,
                routing/ospf,
                lan/vpn/interface/ethernet,
                lan/vpn/interface/svi,
                lan/vpn/interface/ipsec,
                lan/vpn,
              ]
            description: Parcel type
            example: wan/vpn/interface/gre
          - model_name: parcelId
            type: String
            id: true
            description: Parcel ID
            example: f6dd22c8-0b4f-496c-9a0b-6813d1f8b8ac
  - model_name: siteDevices
    data_path: [topology]
    tf_name: topology_site_devices
    type: Int64
    min_int: 1
    max_int: 20
    description: Number of devices per site
    example: 2
    exclude_test: true
  - model_name: devices
    type: List
    description: List of devices
    attributes:
      - model_name: id
        type: String
        id: true
        description: Device ID
        example: C8K-40C0CCFD-9EA8-2B2E-E73B-32C5924EC79B
      - model_name: groupTopologyLabel
        tf_name: topology_label
        type: String
        description: Topology label for dual device configuration group (supported from version 20.18.1 onwards)
        example: EdgeDevice_1
        exclude_test: true
      - tf_name: deploy
        tf_only: true
        type: Bool
        description: Deploy to device if enabled.
        default_value: false
        example: true
      - model_name: variables
        type: Set
        description: List of variables
        attributes:
          - model_name: name
            type: String
            mandatory: true
            id: true
            description: Variable name
            example: host_name
          - model_name: value
            type: String
            description: Variable value
            example: edge1
          - model_name: list_value
            type: List
            element_type: String
            tf_only: true
            description: Use this instead of `value` in case value is of type `List`.
            example: 1.2.3.4
            exclude_test: true
  - tf_name: feature_versions
    tf_only: true
    type: Versions
    description: List of all associated feature versions
    exclude_test: true
  # - model_name: groups
  #   tf_name: device_groups
  #   type: List
  #   description: List of device groups
  #   exclude_test: true
  #   attributes:
  #     - model_name: name
  #       type: String
  #       id: true
  #       description: Group name
  #       example: name1
  #     - model_name: group-variables
  #       tf_name: variables
  #       type: Set
  #       description: List of variables
  #       attributes:
  #         - model_name: name
  #           type: String
  #           id: true
  #           description: Variable name
  #           example: var
  #         - model_name: value
  #           type: String
  #           mandatory: true
  #           description: Variable value
  #           example: value1

test_prerequisites: |
  resource "sdwan_system_feature_profile" "test" {
    name = "SYSTEM_TF"
    description = "Terraform test"
  }

  resource "sdwan_system_basic_feature" "test" {
    name = "BASIC_TF"
    feature_profile_id = sdwan_system_feature_profile.test.id
  }

  resource "sdwan_system_aaa_feature" "test" {
    name               = "AAA_TF"
    feature_profile_id = sdwan_system_feature_profile.test.id
    server_auth_order  = ["local"]
    users = [{
      name     = "admin"
      password = "admin"
    }]
  }

  resource "sdwan_system_bfd_feature" "test" {
    name               = "BFD_TF"
    feature_profile_id = sdwan_system_feature_profile.test.id
  }

  resource "sdwan_system_global_feature" "test" {
    name               = "GLOBAL_TF"
    feature_profile_id = sdwan_system_feature_profile.test.id
  }

  resource "sdwan_system_logging_feature" "test" {
    name               = "LOGGING_TF"
    feature_profile_id = sdwan_system_feature_profile.test.id
  }

  resource "sdwan_system_omp_feature" "test" {
    name               = "OMP_TF"
    feature_profile_id = sdwan_system_feature_profile.test.id
  } 

  resource "sdwan_transport_feature_profile" "test" {
    name        = "TRANSPORT_TF"
    description = "My transport feature profile 1"
  }

  resource "sdwan_transport_wan_vpn_feature" "test" {
    name               = "WAN_VPN_TF"
    feature_profile_id = sdwan_transport_feature_profile.test.id
    vpn                = 0
  }

  resource "sdwan_transport_wan_vpn_interface_ethernet_feature" "test" {
    name                         = "WAN_VPN_INT_TF"
    feature_profile_id           = sdwan_transport_feature_profile.test.id
    transport_wan_vpn_feature_id = sdwan_transport_wan_vpn_feature.test.id
    interface_name               = "GigabitEthernet1"
    shutdown                     = false
    ipv4_configuration_type      = "dynamic"
    ipv4_dhcp_distance           = 1
    tunnel_interface             = true
    tunnel_interface_encapsulations = [
      {
        encapsulation = "ipsec"
      }
    ]
  }
